/* background image  */
body {
  background-image: url(./assets/ignasi_pattern_s.png);
}

/* navbar formatting  */
.navbar-light .navbar-brand {
  background-color: #4aaaa5;
  color: #fcfefe;
  font-family: 'Castoro', "Times New Roman", Times, serif;
  font-weight: bold;
}

.navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color:#EDEDED;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #EDEDED;
}


/* headings main contents  */

.container {
  margin-top: 100px;
}

.box {
  background-color: #fcfefe;
  padding: 25px;
}

h1 {
  color: #4aaaa5;
  font-family: 'Castoro', "Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 2.0;
  border-bottom: #ededed solid 1px;
  margin-top: -20px;
}

/* image formatting  */

/* img {
  width: 100%;
} */

/* paragraph text formatting */
p {
  flex-wrap: wrap;
}