/* background image  */
body {
  background-image: url(./assets/ignasi_pattern_s.png);
}

/* navbar formatting  */
.navbar-light .navbar-brand {
  background-color: #4aaaa5;
  color: #fcfefe;
  font-family: "Castoro", "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: x-large;
}

.navbar-brand:focus,
.navbar-light .navbar-brand:hover :focus :active {
  color: #fcfefe;
  background-color: #3a8581;
  border-color: #3a8581;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fcfefe;
  background-color: #3a8581;
  border-color: #3a8581;
}

/* headings and main contents  */
/* 
.container {
  margin-top: 100px;
} */

.box {
  background-color: #fcfefe;
  padding: 25px;
  margin: 100px 15px 40px 15px;
}

h1 {
  color: #4aaaa5;
  font-family: "Castoro", "Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 2;
  border-bottom: #ededed solid 1px;
  margin-top: -20px;
}

/* contact form submit button  */
.btn-primary {
  color: #fcfefe;
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  font-size: large;
  border-radius: 0px;
  padding: 15px 30px 15px 30px;
}

.btn-primary:hover {
  background-color: #3a8581;
  border-color: #3a8581;
}

footer {
  text-align: center;
  color: #7d8a8b;
  background-color: #666666;
  font-size: 12px;
  font-size: 16px;
  line-height: 3;
  border-top: #4aaaa5 solid 5px;
  width: 100%;
}
